---
import BaseLayout from '../layouts/BaseLayout.astro';
import site from '../data/site'

let title = 'Astro Starter';
let description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = site.url
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
    <h1>{title}</h1>
</BaseLayout>